# ref: https://pip.pypa.io/en/latest/reference/pip_install/#example-requirements-file

###### Requirements without Version Specifiers ######
beautifulsoup4
bokeh
Boruta
boto3
Cartopy
catboost
Cython
dask
fastparquet
featuretools
findspark
folium
geoalchemy2
geopandas
geopy
geoviews
graphframes
h5py
holoviews
#hyperopt==0.2.2
imbalanced-learn
#ipyleaflet
ipympl
ipyparallel
ipython
ipywidgets
jedi
joblib
jupyter
jupyterlab
lightgbm
matplotlib
mca
memory-profiler
metakernel
networkx
notebook
numba
numexpr
numpy
optuna
osmnx
Pillow
psycopg2
py-d3
#pycurl
pydotplus
#pyproj
python-igraph
pytz
scikit-learn
scipy
seaborn
#selenium   # condaを使わない場合、firefoxとgeckodriverのインストールが若干面倒くさい
Shapely
smopy
#SQLAlchemy
statsmodels
swifter
#sympy
#tables
#tblib
umap-learn
watermark
#widgetsnbextension
xarray
xgboost
dask[colmplete]
dask-ml

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
GDAL==2.4.*
pandas==1.0.*
pyarrow==0.16.*
fsspec>=0.3.3
#
###### Refer to other requirements files ######
#
#
###### A particular file ######

###### Additional Requirements without Version Specifiers ######
#   Same as 1st section, just here to show that you can put things in any order.
#

